@font-face {
    font-family: local_dyslexia_OpenDyslexic;
    src: url("../fonts/OpenDyslexic-Regular.otf");
}

@font-face {
    font-family: local_dyslexia_OpenDyslexicMono;
    src: url("../fonts/OpenDyslexicMono-Regular.otf");
}

html body {
    letter-spacing: var(--local_dyslexia_hspacing);
    word-spacing: var(--local_dyslexia_hspacing);
    font-variant-ligatures: none;
    line-height: var(--local_dyslexia_vspacing);
    font-family: local_dyslexia_OpenDyslexic, var(--font-family-sans-serif);
}

html body pre,
html body code {
    font-family: local_dyslexia_OpenDyslexicMono, var(--font-family-monospace);
}
